# 開発環境用の環境変数
VITE_POSTGRES_USER=postgres
VITE_POSTGRES_PASSWORD=postgres
VITE_POSTGRES_DB=kassanbbs
# 本番用の環境変数
TRUSTED_PROXY_ID=proxy1
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=myapp
COOKIE_SECRET=change-this-to-a-random-string
VITE_SECURITY_KEY=changeme
FEDERATION_SECRET=change-this
# WARNING: JWT_SECRET_KEY MUST be changed to a strong random value in production!
# The default value "secret" will be rejected by the JWT middleware in production.
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET_KEY=secret
